* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
  	font-family: 'Questrial', sans-serif;
  	text-decoration: none;
	box-sizing: border-box;
	list-style-type: none;
}

#globalheader {
	position: fixed;
	z-index: 999;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	width: 100%;
	max-width: 100vw;
	top: 0;
}

.globalbanner {
	margin-top: 0;
	width: 100%;
	height: 30px;
	background-color: black;
	display: flex;
	align-items: center;
	color: white;
	justify-content: center;
	font-family: 'Questrial', sans-serif;
	font-size: 12px;
}

.header-container {
	justify-content: center;
	margin: auto;
	background-color: transparent;
	display: flex;
	width: 100%;
	height: 70px;
	align-items: center;
	z-index: 999;
	border-bottom: 1px solid transparent;
}

.header-container a {
	color: white;
}

.header-inner {
	height: 100%;
	display: flex;
	width: 66vw;
	max-width: 1300px;
	justify-content: space-between;
	align-content: center;
}

.header-container.active {
	margin: auto;
	background-color: white;
	display: flex;
	width: 100%;
	height: 70px;
	z-index: 999;
	border-bottom: 1px solid black;
	transition: 0.3s ease-out;
}

.header-container.active a {
	color: black;
}

.logo-container {
	display: flex;
	width: 200px;
	height: 100%;
	align-items: center;
}

.logo {
	margin-left: 30px;
	display: flex;
	font-size: 25px;
	font-family: 'Questrial', sans-serif;
}

.logo a:hover {
	opacity: 60%;
	transition: 0.3s ease-out;
}

.nav {
	width: 500px;
	height: 100%;
	display: flex;
	justify-content: space-between;
	list-style: none;
	align-items: center;
	margin-right: 30px;
	flex-wrap: wrap;
}

.nav a:hover {
	opacity: 60%;
	transition: 0.3s ease-out;
}

.hamburger {
	background-color: transparent;
	border: 0;
	color: white;
	font-size: 20px;
	cursor: pointer;
	display: none;
}

.hamburger.active {
	color: black;
}

@media screen and (max-width: 1200px) {
	.logo-container {
		margin-right: 50px;
	}
	.logo {
		font-size: 1.6rem;
	}
	
}
@media screen and (max-width: 1170px) {
	.logo {
		font-size: 1.2rem;
	}
}
@media screen and (max-width: 978px) {

	.header-inner {
		width: 100%;
		margin-left: 5%;
		margin-right: 5%;
	}

	.logo-container {
		margin-right: none;
	}

	.nav {
		position: fixed;
        left: -100%;
        top: 100px;
        flex-direction: column;
        background-color: black;
        width: 100vw;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
	}
	.nav.open {
		left: 0;
	}

	.nav.open a {
		color: white;
	}
	
	.hamburger {
        display: block;
        cursor: pointer;
    }
}

.body {
	margin-top: 30px;
}

.slide-content {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	overflow-x: hidden;
	background-color: rgba(0, 0, 0, 0.5);
	background-blend-mode: multiply;
}

.wrap {
	position: relative;
}

.slide {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.slide1 {
	background-image: url("https://i.pinimg.com/originals/70/1e/2c/701e2c6e093f3d4cdfacc9564dd15f99.jpg");
	background-position: top;
}

.slide2 {
	background-image: url("https://www.sz-mag.com/wp-content/uploads/2018/01/Comme-des-Garcons-Homme-Plus-F-W18-Men%E2%80%99s-%E2%80%93-Paris_2018_StyleZeitgeist-7.jpg");
	background-position: top;
}

.slide3 {
	background-image: url("https://static01.nyt.com/images/2017/02/02/t-magazine/fashion/rafsimons-slide-TURX/rafsimons-slide-TURX-videoSixteenByNineJumbo1600.jpg");
	background-position: top;
}

.slide4 {
	background-image: url("https://www.modern-notoriety.com/wp-content/uploads/2021/03/undercover-evangelion-puffer-plugsuit-jacket-shinji-asuka-rei-kaworu-release-date-2020.jpg");
	background-position: top;
}

.slide-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.slide-content span {
	color: #fff;
	align-items: center;
	text-align: center;
	height: 60px;
}

.slide-content span h2 {
	margin-bottom: 25px;
	font-size: 30px;
	letter-spacing: 4px;
}

.shoplink {
	width:25px;
	margin-top: 25px;
	border: 1px solid white;
	align-items: center;
	text-align: center;
  	color: white;
  	background-color: transparent;
	padding: 0.5rem;
}

.shoplink:hover{
  	transition: 0.3s ease-out;
	opacity: 50%;
}

.arrow {
	cursor: pointer;
	position: absolute;
	top: 50vh;
	width: 0;
	height: 0;
	border-style: solid;
}

.arrow:hover {
	opacity: 70%;
	transition: 0.3s ease-out;
}

#arrow-left {
	left: 5%;
	font-size: 30px;
	color: white;
}

#arrow-right {
	font-size: 30px;
	color: white;
	right: 5%;
}

#arrow-down a{
	font-size: 30px;
	color: white;
	bottom: 5%;
  	text-align: center;
  	cursor: pointer;
	position: absolute;
	right: 50%;
}

#arrow-down a:hover{
	opacity: 70%;
	transition: 0.3s ease-out;
}

a.anchor {
    display: block;
    position: relative;
    top: 30px;
    visibility: hidden;
}

.heading h5 {
	font-size: 35px;
	justify-content: center;
	text-align: center;
	border-bottom: 4px solid black;
	width: 66vw;
	max-width: 1300px;
}

.brands-container {
	display: block;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	justify-content: space-between;
	align-content: center;
	flex-wrap: wrap;
	width: 66vw;
	max-width: 1300px;
	height: 1300px;
	padding-bottom: 100px;
}

.tileb {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background-blend-mode: multiply;
}

.tileb-1 {
	margin-top: 40px;
	float: left;
	width: 33%;
	height: 100%;
}

.tileb-2 {
	margin-top: 40px;
	float: right;
	width: 66%;
	height: 49.5%;
}

.tileb-3 {
	margin-top: 1%;
	float: right;
	width: 66%;
	height: 49.5%;
}

.tileb a{
	top: 45%;
	color: white;
	font-size: 40px;
}

.tileb a:hover{
	opacity: 70%;
}

.tileb:hover {
	background-color: rgba(0, 0, 0, 0.301);
	transition: 0.3s ease-out;
}

.tileb-1 {
	background-image: url("https://sidewalkhustle.com/wp-content/uploads/2016/03/Issey-Miyake-Exhibition-Tokyo-6.jpg");
	background-position: center;
}

.tileb-2 {
	background-image: url("https://cdn.shopify.com/s/files/1/0408/9909/files/Adidas_Rick_Owens_DRKSHDW_Ramones_-Feature-LV-5928_1024x1024.jpg?v=1477422793");
	background-position: top;
}

.tileb-3 {
	background-image: url("https://www.esquireme.com/public/images/2020/03/29/Maison-Margiela-Lead.jpg");
	background-position: center;
}

.page-container {
	margin-top: 70px;
	margin-left: auto;
	margin-right: auto;
	width: 66vw;
	max-width: 1300px;
	padding-bottom: 100px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	justify-content: space-between;
	align-content: center;
	flex-wrap: wrap;
}

.page-container a {
	color: black;
}

.page-container a:hover {
	background-color: rgba(0, 0, 0, 0.5);
	transition: 0.3s ease-out;
}

.product {
	background-blend-mode: multiply;
	position: relative;
	display: inline-flex;
	flex-direction: row;
	margin-top: 40px;
	width: 300px;
	height: 400px;
	background-size: 300px 300px;
	background-repeat: no-repeat;
	text-align: center;
}

.product-caption {
	bottom: 50px;
	position: absolute;
	height: 50px;
	width: 100%;
}

.product-price {
	bottom: 0;
	position: absolute;
	height: 50px;
	width: 100%;
}

.product1 {
	background-image: url("https://cdn.shopify.com/s/files/1/0270/1099/0133/products/image_9f78c3d0-006a-4ba9-bbb8-2386dcb527a6_900x.jpg?v=1619973035");
}

.product2 {
	background-image: url("https://cdn.shopify.com/s/files/1/0270/1099/0133/products/image_2de90611-97f8-42de-93ab-1f99f42d83ef_900x.jpg?v=1622647627");
}

.product3 {
	background-image: url("https://cdn.shopify.com/s/files/1/0270/1099/0133/products/image_46d9b92f-cf70-4f5a-aefe-b6fcf11c1858_900x.jpg?v=1620315092");
}

.product4 {
	background-image: url("https://cdn.shopify.com/s/files/1/0270/1099/0133/products/image_3262cd90-0bad-4bed-9de6-ff819805f91e_900x.jpg?v=1619972520");
}

.product5 {
	background-image: url("https://cdn.shopify.com/s/files/1/0270/1099/0133/products/image_17d343eb-f474-455b-8de9-410ca0b27466_900x.jpg?v=1620310751");
}

.product6 {
	background-image: url("https://cdn.shopify.com/s/files/1/0270/1099/0133/products/image_371ad651-e9a2-43c3-82aa-36ba4842735e_900x.jpg?v=1627311463");
}

.product7 {
	background-image: url("https://cdn.shopify.com/s/files/1/0270/1099/0133/products/image_fd6813bc-7af2-4faa-88cd-af70c8bc56ef_900x.jpg?v=1621544964");
}

.product8 {
	background-image: url("https://cdn.shopify.com/s/files/1/0270/1099/0133/products/image_ca17380d-28ae-4c51-9583-77fd64758c55_900x.jpg?v=1625265138");
}

#globalfooter {
	background-color: black;
	padding: 4rem 0 4rem 0;
}

.footer {
	width: 100%;
	height: 300px;
	color: white;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 auto;
}

.footer a {
	font-family: 'Questrial', sans-serif;
}

.footer-heading {
	display: flex;
	flex-direction: column;
}

.footer-2 {
	margin-left: 4rem;
	margin-right: 4rem;
}

.footer-heading h4 {
	margin-bottom: 0.5rem;
}

.footer-heading a {
	color: white;
	text-decoration: none;
	margin-bottom: 0.5rem;
}

.footer-heading a:hover {
	color: grey;
	transition: 0.3s ease-out;
}

.image-container {
	width: 100%;
	height: 25vh;
	border-bottom: 1px solid black;
	background-position: bottom;
	background-image: url("https://retailinasia.com/wp-content/uploads/2020/12/Maison-Margiela-770x513.jpg");
}

.about {
	justify-content: center;
}

.about p {
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	font-size: 18px;
	text-align: center;
}
